<div class="container" [class.de-active]="isLoading">
  <div *ngIf="isLoading" class="loading">
    <mat-spinner aria-label="Loading..."></mat-spinner>
  </div>
  <div class="event-box">
    <h1 class="title" aria-label="Event Title" #titleRef>
      Time to {{ titleFormControl.value }}
    </h1>
    <div class="time" aria-live="polite" aria-atomic="true" #timeRef>
      {{ timeRemaining }}
    </div>
  </div>
  <div class="input-group">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Title"
        [formControl]="titleFormControl"
        aria-label="Event Title"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="datepicker"
        [formControl]="dateFormControl"
        (click)="openDatepicker()"
        aria-label="Event Date"
      />
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
