$primary-color: #72035d;
$default-padding: 1rem;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: $default-padding;
  box-sizing: border-box;
}
.de-active {
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 0.2);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .event-box {
    height: 50%;
  }
  .title {
    color: $primary-color;
    font-weight: 800;
  }
  .title,
  .time {
    flex: 0 0 auto;
    min-height: 50%;
    margin: 0;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .container {
    .input-group {
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
      margin-top: 5rem;
    }
  }
}
