@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  width: 100%;
  .title {
    color: #8a0e83;
    font-size: 2rem;
    font-weight: bold;
  }

  .time {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1rem;

    label {
      font-weight: bold;
    }

    input {
      width: 150px;
      padding: 5px;
      font-size: 1rem;
    }
  }
}

@media (min-width: 600px) {
  .container {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-group {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .title {
        font-size: 3rem;
      }

      .time {
        font-size: 2rem;
      }
    }
  }
}
